In [9]:
# Q1. Explain with an example each when to use a for loop and a while loop.
#For loop is used where we know how many times it runs.
#ex:
for i in range(5):
    print(i)
#while loop is used until condition is true.
#ex:
n=5
sum=0
count=1
while count<=n:
    sum+=count
    count+=1
sum

0
1
2
3
4

15

In [23]:
# Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.
'''n=10
sum=0
count=1
while count<=n:
    sum+=count
    count+=1
sum'''
product=1
for i in range(1,11):
    product=product*i
print(product)

3628800

In [21]:
""" Q3. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.
Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250"""

unit=int(input("enter unit consumed "))
if unit <= 100:
    print(unit*4.5)
elif unit <= 200:
    print(100*4.5 + (unit-100)*6)
elif unit <= 300:
    print(100*4.5 + 100*6 + (unit-200)*10)
elif unit >= 300:
    print(100*4.5 + 100*6 + 100*10 + (unit-300)*20)

enter unit consumed  310

2250.0

In [15]:
"""Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list."""

n =list(range(1,101))
l1=[]
l2=[]
for i in n:
    l1.append(i**3)
    if i%4==0 or i%5==0:
        l2.append(i**3)
print(l1)
print(l2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]
[64, 125, 512, 1000, 1728, 3375, 4096, 8000, 13824, 15625, 21952, 27000, 32768, 42875, 46656, 64000, 85184, 91125, 110592, 125000, 140608, 166375, 175616, 216000, 262144, 274625, 314432, 343000, 373248, 421875, 438976, 512000, 592704, 614125, 681472, 729000, 778688, 857375, 884736, 1000000]

In [6]:
'''Q5. Write a program to filter count vowels in the below-given string.'''
string = "I want to become a data scientist"
n=len(string)
count=0
for i in range(n):
    if (string[i]=="a") or (string[i]=="e") or (string[i]=="i") or (string[i]=="o") or (string[i]=="u") or (string[i]=="I") :
        count+=1
    else:
        pass
print(count)

12